<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <title>Cadastro - SheFit</title>
    <link rel="stylesheet" href="css/cadastro.css">
</head>

<body>
    <h1>Cadastrar nova conta</h1>
    <form onsubmit="cadastrar(event)">
        <input type="text" id="cad-usuario" placeholder="Usuário" required />
        <input type="password" id="cad-senha" placeholder="Senha" required />
        <button type="submit">Cadastrar</button>
    </form>
    <p>Já tem uma conta? <a href="login">Fazer login</a></p>


    <script src="js/script.js" defer></script>
</body>

</html>